:root {
  --primary: #320429;
  --background: rgb(32, 37, 40);
  --font1: rgb(172, 180, 156);
  --bs-primary: #320429;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--font1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-tabs {
  border-bottom: none;
}

a.feature-nav.nav-link {
  color: var(--font1);
  font-size: 1.3rem;
  font-weight: 600;
  border-color: var(--primary);
  border-bottom: none;
}

a.feature-nav.nav-link:hover {
  border-width: 3px;
  border-color: var(--primary);
}

a.feature-nav.nav-link.active,
a.feature-nav.nav-link.active:hover {
  background-color: var(--primary);
  color: var(--font1);
  border-color: var(--primary);
  border-width: 1px;
  border-bottom: none;
}

.navbar {
  background-color: var(--primary);
}

.navbar-brand {
  color: var(--font1);
}

div.nav-item.dropdown {
  margin: 0 25px;
}

/* .nav-login {
  color: white;
}

#basic-nav-dropdown {
  color: white;
} */

.modal-error-message {
  color: red;
  font-weight: bold;
}

tr:hover {
  cursor: pointer;
}

tr {
  background-color: rgb(32, 37, 40);
}

tr:hover {
  background-color: rgb(50, 53, 57);
}

td {
  color: rgb(172, 180, 156);
}

.sub-descriptor {
  font-size: 0.75rem;
  color: grey;
  margin-top: -8px;
  text-align: right;
}

.wallet-container {
  background-color: rgb(20, 21, 22);
  padding: 5%;
  border-radius: 2px;
  box-shadow: 3px 3px 5px var(--primary);
}

.wallet-balance {
  text-align: right;
  font-size: 1.5rem;
}

.wallet-page-address-container {
  max-width: fit-content;
}

.wallet-page-address {
  overflow-wrap: break-word;
}

.section-title {
  margin-top: 15px;
  font-size: 1.6rem;
  border-top: var(--font1) solid 2px;
}

.section-subtitle {
  margin-bottom: 15px;
}

td div.pub-key {
  overflow-wrap: anywhere;
}

td.key-name {
  min-width: max-content;
  display: flex;
  align-items: center;
}

.btn,
.btn-primary {
  background-color: var(--primary);
  border: var(--primary);
  color: var(--font1);
  border-radius: 1px;
}

.btn:hover,
.btn-primary:hover {
  background-color: var(--primary);
  border: var(--primary);
}

.btn-create {
  min-width: 100px;
}

.modal-content {
  background-color: var(--background);
  border-color: var(--font1);
}

.modal-header {
  border-color: var(--font1);
}

.modal-footer {
  border-color: var(--font1);
}

.form-control:disabled,
.form-control,
.form-select {
  background-color: var(--font1);
  border: var(--font1);
  color: var(--background);
  border-radius: 2px;
}

.page-link.active {
  background-color: var(--primary) !important;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}
